basePath: /
definitions:
  api.Client:
    properties:
      expiration:
        type: string
      id:
        type: string
      region:
        type: string
    type: object
  api.ClientAvailableRequest:
    properties:
      id:
        type: string
    type: object
  api.ClientListRequest:
    properties:
      ownerAddress:
        type: string
    type: object
  api.ClientProfileRequest:
    properties:
      id:
        type: string
      key:
        type: string
      signature:
        type: string
    type: object
  api.ErrorResponse:
    properties:
      error:
        type: string
      reason:
        type: string
    type: object
  api.RefDataResponse:
    properties:
      prices:
        items:
          $ref: '#/definitions/api.RefDataResponsePrice'
        type: array
      regions:
        items:
          type: string
        type: array
    type: object
  api.RefDataResponsePrice:
    properties:
      duration:
        type: integer
      price:
        type: integer
    type: object
  api.TxRenewRequest:
    properties:
      clientId:
        type: string
      duration:
        type: integer
      ownerAddress:
        type: string
      paymentAddress:
        type: string
      price:
        type: integer
    type: object
  api.TxRenewResponse:
    properties:
      txCbor:
        type: string
    type: object
  api.TxSignupRequest:
    properties:
      duration:
        type: integer
      ownerAddress:
        type: string
      paymentAddress:
        type: string
      price:
        type: integer
      region:
        type: string
    type: object
  api.TxSignupResponse:
    properties:
      clientId:
        type: string
      txCbor:
        type: string
    type: object
  api.TxTransferRequest:
    properties:
      clientId:
        type: string
      ownerAddress:
        type: string
      paymentAddress:
        type: string
    type: object
  api.TxTransferResponse:
    properties:
      txCbor:
        type: string
    type: object
  api.WGDeleteRequest:
    properties:
      client_id:
        type: string
      key:
        type: string
      signature:
        type: string
      wg_pubkey:
        type: string
    type: object
  api.WGDeleteResponse:
    properties:
      remaining_devices:
        type: integer
      success:
        type: boolean
    type: object
  api.WGDeviceInfo:
    properties:
      assigned_ip:
        type: string
      created_at:
        type: integer
      pubkey:
        type: string
    type: object
  api.WGDevicesRequest:
    properties:
      client_id:
        type: string
      key:
        type: string
      signature:
        type: string
    type: object
  api.WGDevicesResponse:
    properties:
      devices:
        items:
          $ref: '#/definitions/api.WGDeviceInfo'
        type: array
      limit:
        type: integer
    type: object
  api.WGProfileRequest:
    properties:
      client_id:
        type: string
      key:
        type: string
      signature:
        type: string
      wg_pubkey:
        type: string
    type: object
  api.WGRegisterRequest:
    properties:
      client_id:
        type: string
      key:
        type: string
      signature:
        type: string
      wg_pubkey:
        type: string
    type: object
  api.WGRegisterResponse:
    properties:
      assigned_ip:
        type: string
      device_count:
        type: integer
      device_limit:
        type: integer
      success:
        type: boolean
    type: object
info:
  contact:
    email: support@blinklabs.io
    name: Blink Labs Software
    url: https://blinklabs.io
  description: NABU VPN indexer API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: vpn-indexer
  version: v0
paths:
  /api/client/available:
    post:
      consumes:
      - application/json
      description: Check if a client profile is available
      parameters:
      - description: Client Available Request
        in: body
        name: ClientAvailableRequest
        required: true
        schema:
          $ref: '#/definitions/api.ClientAvailableRequest'
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: ClientAvailable
  /api/client/list:
    post:
      consumes:
      - application/json
      description: Search for clients matching a given manager public key hash
      parameters:
      - description: List Request
        in: body
        name: ClientListRequest
        required: true
        schema:
          $ref: '#/definitions/api.ClientListRequest'
      produces:
      - application/json
      responses:
        "200":
          description: List of matching clients
          schema:
            items:
              $ref: '#/definitions/api.Client'
            type: array
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: ClientList
  /api/client/profile:
    post:
      consumes:
      - application/json
      description: Fetch a client VPN profile given a COSE payload via signed S3 link
      parameters:
      - description: Profile Request
        in: body
        name: ClientProfileRequest
        required: true
        schema:
          $ref: '#/definitions/api.ClientProfileRequest'
      responses:
        "302":
          description: Found
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: ClientProfile
  /api/client/wg-devices:
    post:
      consumes:
      - application/json
      description: List all WireGuard devices registered for a client
      parameters:
      - description: Devices Request
        in: body
        name: WGDevicesRequest
        required: true
        schema:
          $ref: '#/definitions/api.WGDevicesRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Device list
          schema:
            $ref: '#/definitions/api.WGDevicesResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: WGDevices
  /api/client/wg-peer:
    delete:
      consumes:
      - application/json
      description: Remove a WireGuard device registration
      parameters:
      - description: Delete Request
        in: body
        name: WGDeleteRequest
        required: true
        schema:
          $ref: '#/definitions/api.WGDeleteRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Deletion successful
          schema:
            $ref: '#/definitions/api.WGDeleteResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: WGPeerDelete
  /api/client/wg-profile:
    post:
      consumes:
      - application/json
      description: Get a WireGuard configuration profile for a registered device
      parameters:
      - description: Profile Request
        in: body
        name: WGProfileRequest
        required: true
        schema:
          $ref: '#/definitions/api.WGProfileRequest'
      produces:
      - text/plain
      - application/json
      responses:
        "200":
          description: WireGuard config file
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "403":
          description: Forbidden (subscription expired)
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: WGProfile
  /api/client/wg-register:
    post:
      consumes:
      - application/json
      description: Register a new WireGuard device for a client
      parameters:
      - description: Register Request
        in: body
        name: WGRegisterRequest
        required: true
        schema:
          $ref: '#/definitions/api.WGRegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Registration successful
          schema:
            $ref: '#/definitions/api.WGRegisterResponse'
        "400":
          description: Bad Request (includes generic error for duplicate pubkey to
            prevent enumeration)
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "403":
          description: Forbidden (device limit reached or subscription expired)
          schema:
            $ref: '#/definitions/api.ErrorResponse'
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            $ref: '#/definitions/api.ErrorResponse'
      summary: WGRegister
  /api/refdata:
    get:
      consumes:
      - application/json
      description: Fetch prices and regions for signup or renewal
      produces:
      - application/json
      responses:
        "200":
          description: Prices and regions
          schema:
            $ref: '#/definitions/api.RefDataResponse'
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: RefData
  /api/tx/renew:
    post:
      consumes:
      - application/json
      description: Build a transaction for a VPN renewal
      parameters:
      - description: Renewal Request
        in: body
        name: TxRenewRequest
        required: true
        schema:
          $ref: '#/definitions/api.TxRenewRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Built transaction
          schema:
            $ref: '#/definitions/api.TxRenewResponse'
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: TxRenew
  /api/tx/signup:
    post:
      consumes:
      - application/json
      description: Build a transaction for a VPN signup
      parameters:
      - description: Signup Request
        in: body
        name: TxSignupRequest
        required: true
        schema:
          $ref: '#/definitions/api.TxSignupRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Built transaction
          schema:
            $ref: '#/definitions/api.TxSignupResponse'
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: TxSignup
  /api/tx/submit:
    post:
      consumes:
      - application/cbor
      description: Submit a signed transaction to the blockchain
      parameters:
      - description: Content type
        enum:
        - application/cbor
        in: header
        name: Content-Type
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Ok
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "415":
          description: Unsupported Media Type
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: TxSubmit
  /api/tx/transfer:
    post:
      consumes:
      - application/json
      description: Build a transaction for a VPN transfer
      parameters:
      - description: Transfer Request
        in: body
        name: TxTransferRequest
        required: true
        schema:
          $ref: '#/definitions/api.TxTransferRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Built transaction
          schema:
            $ref: '#/definitions/api.TxTransferResponse'
        "400":
          description: Bad Request
          schema:
            type: string
        "405":
          description: Method Not Allowed
          schema:
            type: string
        "500":
          description: Server Error
          schema:
            type: string
      summary: TxTransfer
swagger: "2.0"
